:root,
[data-theme='light'] {
  --bg-primary: #ffedbc;
  --bg-secondary: #f5d98c;
  --text-primary: #1c1c1e;
  --text-secondary: #6e6e73;
}

[data-theme='dark'] {
  --bg-primary: #1c1c1e;
  --bg-secondary: #2c2c2e;
  --text-primary: #f0f0f0;
  --text-secondary: #8e8e93;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
}
