:root,
[data-theme='light'] {
  --bg-primary: #ffedbc;
  --bg-secondary: #f5d98c;
  --text-primary: #1c1c1e;
  --text-secondary: #6e6e73;
}

[data-theme='dark'] {
  --bg-primary: #1c1c1e;
  --bg-secondary: #2c2c2e;
  --text-primary: #f0f0f0;
  --text-secondary: #8e8e93;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: 'Inconsolata Variable', monospace;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.3;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.4;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
}

.text-primary {
  color: var(--text-primary)
}

.text-secondary {
  color: var(--text-secondary)
}
